.upload{
    width: 125px;
    position: relative;
    margin: auto;
}
.upload img{
    border-radius: 50%;
    border: 8x solid #dcdcdc;
}
.upload .round{
    padding-top: 4px;
    position: absolute;
    background: #5a53df;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: center;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
.upload .round .fa{
    color: #fff;
    
}
.upload .round input[type = "file"]{
    position: absolute;
    transform: scale(3);
    opacity: 0;
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}